<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">هوش‌یار</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> -->
          
          
          <!-- <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
          
          {% if user.is_authenticated %}
          <!-- 
            <li class="nav-item">
              <a class="nav-link" href="{% url 'write_code' %}">برنامه‌نویس</a>
            </li>          
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Fix Code</a>
            </li>-->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href=# role="button" data-bs-toggle="dropdown" aria-expanded="false">
                برنامه‌نویس
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'write_code' %}">نوشتن برنامه</a></li>
                <li><a class="dropdown-item" href="{% url 'home' %}">اصلاح برنامه</a></li>
                <li><a class="dropdown-item" href="#">آرشیو </a></li>
              </ul>
            </li>  

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href=# role="button" data-bs-toggle="dropdown" aria-expanded="false">
                همه‌چیزدان
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'ask_me_fa' %}">بپرس </a></li>
                <li><a class="dropdown-item" href="{% url 'ask_me_arch' %}">آرشیو </a></li>
              </ul>
            </li> 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href=# role="button" data-bs-toggle="dropdown" aria-expanded="false">
                ویرایش‌گر
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'edit_me' %}">ویرایش متن </a></li>
                <li><a class="dropdown-item" href="#">آرشیو </a></li>
              </ul>
            </li> 

            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">خروج</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">عضویت</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">ورود</a>
            </li>
        {% endif %}

        </ul>
        <!-- 
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>-->
      </div>
    </div>
  </nav>